# *.pth
# processed_data/
__pycache__/
.ipynb_checkpoints/
*.npy
.DS_Store

# __pycache__/
# *.pth
# *.npy
# *.json
# *.mp4
# *.mov
# *.avi
# *.mkv

# .venv/
# .ipynb_checkpoints/
# .DS_Store

# processed_data/
# env/
# venv/
# keypoints/
# outputs/
# logs/
# train_test_paths/